@charset "UTF-8";


#div0 {
        clear: both;
        float: left;
        border: 1px solid rgb(172, 172, 172);
        width: 70vw;
        height: 10vw;
        margin-left: 20vw;
}


.div2 {
        float: left;
        clear: both;
        border: 1px solid rgb(172, 172, 172);
        width: 10vw;
        height: 40vw;
        margin-top: 2vw;
        margin-left: 8vw;
}

.div3 {
        border: 1px solid rgb(172, 172, 172);
        width: 70vw;
        height: 40vw;
        margin-left: 20vw;
        float: left;
        clear: both;
        margin-top: -40vw;
}

#div4 {
        clear: both;
        float: left;
        border: 1px solid rgb(172, 172, 172);
        width: 70vw;
        height: auto;
        margin-left: 20vw;
        margin-top: 2vw;
}

/* For the shopping cart page */
.div5 {
        border: 1px solid rgb(172, 172, 172);
        width: 60vw;
        height: 10vw;
        margin-left: 5vw;
}

#div6 {
        clear: both;
        float: left;
        border: 1px solid rgb(172, 172, 172);
        width: 70vw;
        height: auto;
        margin-left: 20vw;
        margin-top: 2vw;
}

#div21 {
        display: block;
}

#div22,
#div23,
#div24,
#div25,
#div26 {
        display: none;
}

#div31 {
        display: block;
}

#div32,
#div33,
#div34,
#div35,
#div36,
#div321,
#div311,
#div351,
#div352 {
        display: none;
}


.topm {
        width: 8vw;
        height: auto;
        margin-left: 0;
        margin-top: 1vw;
        margin-right: 1vw;
        float: left;
}

.leftm {
        width: 8vw;
        height: auto;
        margin-left: 1vw;
        margin-top: 1vw;
}

.midm {
        width: 12vw;
        height: auto;
        margin-left: 1vw;
        margin-top: 1vw;
}

#total {
        float: left;
        font-size: 4vw;
}

.button {
        border: none;
        color: white;
        padding: 2vw 8vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 3vw;
        transition-duration: 0.4s;
        cursor: pointer;
        margin-left: 2vw;
        margin-top: 1vw;
}

#orderbtn {
        background-color: rgb(255, 209, 4);
        color: rgb(255, 255, 255);
}

#orderbtn:hover {
        background-color: #f9fd00;
        color: rgb(0, 0, 0);
}

.menup {
        font-size: 3vw;
        margin-left: 4vw;
        float: left;
        background-color: rgb(255, 209, 4);
        /* Set the background color */
        border: none;
        /* Remove the border */
        color: white;
        /* Set the text color */
        padding: 12px 24px;
        /* Set the padding */
        text-align: center;
        /* Center the text */
        text-decoration: none;
        /* Remove the underline */
        display: inline-block;
        /* Display as a block element */
        font-size: 25px;
        /* Set the font size */
        margin: 10px;
        /* Set the margin */
        border-radius: 4px;
        color: black;
}

.menup2 {
        font-size: 3vw;
        margin-right: 4vw;
        float: right;
        background-color: rgb(255, 209, 4);
        /* Set the background color */
        border: none;
        /* Remove the border */
        color: white;
        /* Set the text color */
        padding: 12px 24px;
        /* Set the padding */
        text-align: center;
        /* Center the text */
        text-decoration: none;
        /* Remove the underline */
        display: inline-block;
        /* Display as a block element */
        font-size: 16px;
        /* Set the font size */
        margin: 10px;
        /* Set the margin */
        border-radius: 4px;
        color: black;

}

.menubtn1 {
        font-size: 2vw;
        margin-top: 3.5vw;
        margin-left: 4vw;
        position: absolute;
        background-color: rgb(255, 209, 4);
        /* Set the background color */
        border: none;
        /* Remove the border */
        color: white;
        /* Set the text color */
        padding: 12px 24px;
        /* Set the padding */
        text-align: center;
        /* Center the text */
        text-decoration: none;
        /* Remove the underline */
        display: inline-block;
        /* Display as a block element */
        font-size: 16px;
        /* Set the font size */
        margin: 10px;
        /* Set the margin */
        border-radius: 4px;
        color: black;

}

.menubtn2 {
        background-color: rgb(255, 209, 4);
        /* Set the background color */
        border: none;
        /* Remove the border */
        color: white;
        /* Set the text color */
        padding: 12px 24px;
        /* Set the padding */
        text-align: center;
        /* Center the text */
        text-decoration: none;
        /* Remove the underline */
        display: inline-block;
        /* Display as a block element */
        font-size: 16px;
        /* Set the font size */
        margin: 10px;
        /* Set the margin */
        border-radius: 4px;
        color: black;

}

.menubtn3 {
        background-color: rgb(255, 209, 4);
        /* Set the background color */
        border: none;
        /* Remove the border */
        color: white;
        /* Set the text color */
        padding: 12px 24px;
        /* Set the padding */
        text-align: center;
        /* Center the text */
        text-decoration: none;
        /* Remove the underline */
        display: inline-block;
        /* Display as a block element */
        font-size: 16px;
        /* Set the font size */
        margin: 10px;
        /* Set the margin */
        border-radius: 4px;
        color: black;

}

body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        text-decoration: none;
        box-sizing: border-box;
}

h1 {
        font-family: 'SpeedeeBold', sans-serif;
        font-weight: bold;
        font-size: 100px;
}

ul,
li,
a {
        font-family: 'SpeedeeBold', sans-serif;
        font-weight: bold;
}

.logo-container {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
}

.navbar-brand img {
        width: 70px;
        height: auto;
}

.navbar-nav {
        margin-top: 20px;
        text-align: center;
}

.nav-item {
        margin-bottom: 10px;
}

.nav-link {
        padding: 10px;
        border-radius: 5px;
}


.font {
        font-family: 'SpeedeeBold', sans-serif;
        font-weight: bold;
}

.image1,
.image2 {
        display: block;
        margin: auto;
        position: absolute;
        z-index: -1;
}

.image1 {
        position: absolute;
        top: -60%;
        left: 75%;
        max-width: 1000px;
}

.image2 {
        position: absolute;
        max-width: 1000px;
        top: 15%;
        left: -19%;
        transform: translate(-29%, 30%);
}

@media screen and (max-width: 768px) {


        .image1 {
                top: -40%;
                left: 60%;
                width: 30%;
                max-width: 150px;
        }

        .image2 {
                top: 30%;
                left: -40%;
                width: 30%;
                max-width: 150px;
                transform: translate(-40%, 30%);
        }
}

@media screen and (max-width: 480px) {
        .image1 {
                top: -50%;
                left: 40%;
                width: 40%;
                max-width: 100px;
        }

        .image2 {
                top: 40%;
                left: 10%;
                width: 40%;
                max-width: 100px;
                transform: translate(10%, 40%);
        }
}

@media screen and (max-width: 576px) {
        .image1 {
                position: absolute;
                top: 0;
                left: 0;
                transform: none;
                margin: 0 auto;
                width: 80%;
                max-width: 250px;
        }

        .image2 {
                top: 30%;
                left: -40%;
                width: 30%;
                max-width: 150px;
                transform: translate(-40%, 30%);
        }
}

.hero2img {
        max-width: 100%;
        height: auto;
}

h2 {
        font-family: 'SpeedeeBold', sans-serif;
        font-weight: bold;
        font-size: 60px;
}

.container {
        padding-top: 310px;
        position: relative;
}


.navbar {
        position: relative;
        z-index: 1;

}

#div0 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
}

.topm {
        width: 100px;
        height: 100px;
        border: 2px solid transparent;
        border-radius: 25%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
}

.topm:hover {
        transform: scale(1.1);
        border-color: #ccc;
}

.div2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
}

.leftm {
        width: 120px;
        height: 120px;
        border: 2px solid transparent;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
}

.leftm:hover {
        transform: scale(1.1);
        border-color: #ccc;
}

.div3 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 5px;
        border: 1px solid #ccc;

}

.midm {
        width: 140px;
        height: 140px;
        border: 2px solid transparent;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

}

.midm:hover {
        transform: scale(1.1);
        border-color: #ccc;
}

.div2 {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
}

.leftm {
        padding: 0;
        margin: 0;
        margin-top: 1.7vw;
        text-align: center;
}

p {
        margin-left: 64px;

}

h3 {
        margin-left: 34px;
}


.item-price {
        font-size: 18px;
        font-weight: bold;
        margin-top: 5px;
}

.menu-item {
        display: inline-flex;
        align-items: center;
}

.menu-item h3 {
        margin-right: 10px;
}